/* vim: set ft=scss.sass.css */
.tr-sidebar {
  font-size: 14px !important;
  z-index: 999999;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #fff;
  box-sizing: border-box !important;
  padding: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
  border-right: 2px solid #5C6BC0;

  & > div {
    box-sizing: border-box;
    padding: 10px;
  }

  & > .tr-editor {
    overflow: hidden;
    box-sizing: inherit;
    border: 1px solid #5C6BC0;
    border-width: 1px 0;
    width: 100%;
    height: 300px;

    & > small.tr-current-language {
      display: block;
      opacity: 0.6;
    }

    & > p.tr-text-key {
      background-color: #ececec;
      border-radius: 3px;
      padding: 10px;
      font-family: monospace;
      font-weight: bold;
      color: #888;
      border: 1px solid #ddd;
      word-wrap: break-word;
    }

    & > p.tr-original-text {
      margin: 1em 0;
      padding: 0 11px;
    }

    & > textarea {
      height: 100px;
    }

    & > button {
      float: right;
      border-radius: 3px;
      border: none;
      padding: 4px 16px;
      cursor: pointer;
      background-color: lighten(#53777A, 40%) !important;
      color: #53777A;
      font-weight: bold;
      font-size: 1.1em;
      font-family: inherit !important;
      &:hover {
        color: #fff;
      }
    }
  }

  & > .tr-new-translation {
    height: 100px;
    margin-bottom: 15px;
    button {
    }
    display: none;
  }

  & > .tr-translation-language {
    height: 40px;

    select {
      border: 1px solid #ccc;
      width: 100%;
      display: block;
      font-size: 12px;
      cursor: pointer;
    }
  }

  & > .tr-translation-navigation {
    height: calc(100% - 360px);
    overflow: scroll;

    & > div {
      background-color: #E8EAF6;
      border-radius: 3px;
      margin-bottom: 10px;
      padding: 5px 8px;
      cursor: pointer;
      word-wrap: break-word;
      border: 1px solid #ececec;

      &:hover {
        border: 1px solid #5C6BC0;
      }
    }

    .tr-translation-namespace {
      &:after {
        color: #ECD078;
        content: '\25BA';
        float: right;
      }
    }

    .tr-translation-key {
      font-size: 1.1em;
      padding: 4px;
      border-radius: 3px;
      background: #9FA8DA;
      color: #000;
    }
  }

  input[type='text'] {
    height: 26px;
    margin: 0;
    box-sizing: inherit !important;
    padding: 0 10px;
  }

  textarea {
    font-family: inherit !important;
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 3px;
    width: 100%;
    display: block;
    border: 1px solid #5C6BC0;
  }

  p {
    line-height: 1;
  }
  button {
    border-radius: 3px;
    border: none;
    padding: 4px 16px;
    cursor: pointer;
    background-color: lighten(#53777A, 40%) !important;
    color: #53777A;
    font-weight: bold;
    font-size: 1.1em;
    font-family: inherit !important;
    &:hover {
      color: #fff;
    }  
  }

}
